body
{
	text-align: center;
	background-color: blue; 
	font-family: impact;
	font-size: 25px;
	color: red;
}

h1
{
	font-size: 60px;
	color: red !important;
}

/* Nieodwiedzony link */
a:link
{
	color: grey;
}

/* Odwiedzony link */
a:visited
{
	color:yellow;
}

/* Link po najechaniu kursorem */
a:hover
{
	color: red;
}